{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="content">

        <div class="error-page">
            <h2 class="headline text-red">500</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i> Oops! Algo deu errado.</h3>

                <p>
                    Não conseguimos encontrar a página que estava procurando.
                    Enquanto isso, você pode <a href="#"> retornar </a>.
                </p>

            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
        });
    </script>

{% endblock %}
