{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- HEADING BREADCRUMB-->
    <section class="bg-pentagon py-4">
        <div class="container py-3">
            <div class="row d-flex align-items-center gy-4">
                <div class="col-md-7">
                    <h1 class="h2 mb-0 text-uppercase">Políticas de Privacidade</h1>
                </div>
                <div class="col-md-5">
                    <!-- Breadcrumb-->
                    <ol class="text-sm justify-content-start justify-content-lg-end mb-0 breadcrumb undefined">
                        <li class="breadcrumb-item"><a class="text-uppercase" href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-uppercase active">Políticas de Privacidade</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- TEXT SECTION-->
    <section class="py-5">
        <div class="container py-5">
            <div class="row gy-5">
                <!-- PAGE CONTENT-->
                <div class="col-lg-12">
                    <div class="conteudo span9">

                        <div class="caixa-sombreada">
                            <div>
                                <h1>Aviso de Privacidade</h1>

                                <p>A WM entende de gestão de informação e conhece bem a importância de tratar dados
                                    pessoais com responsabilidade, ética e valorização da individualidade das pessoas. A
                                    Proteção de Dados Pessoais é não somente uma preocupação interna como um atributo
                                    que a WM pretende disponibilizar a seus clientes, pelo compromisso de adoção de
                                    esforços gerenciais, técnicos e inovadores de segurança e controle de dados pessoais
                                    em todos os seus processos internos e em todas as suas soluções.</p>

                                <p>Esse Aviso de Privacidade comunica a forma como ocorre o tratamento de dados pela WM
                                    em suas plataformas e sites, conforme as leis aplicáveis à proteção de dados,
                                    especialmente a Lei nº 13.709/2018 – Lei Geral de Proteção de Dados (“LGPD”).</p>

                                <p>Para sanar dúvidas ou prestar esclarecimentos, ficamos à disposição, na pessoa do
                                    nosso Chefe de Privacidade, pelo canal: privacidade@gmail.com.br.</p>

                                <p><strong>1. Quais dados pessoais são coletados?</strong><br>
                                    Quando você realiza o cadastro em algum dos formulários em nosso site, coletamos as
                                    informações pessoais de identificação para que possamos sanar dúvidas, prestar
                                    esclarecimentos, encaminhar conteúdo de seu interesse e possibilitar o atendimento
                                    solicitado, tais como nome completo; e-mail; telefone e eventualmente a sua mensagem
                                    pessoal.</p>

                                <p>Ao preencher nossos campos de comunicação, orientamos que você evite inserir
                                    informações desnecessárias, em especial dados sensíveis ou informações confidenciais
                                    de qualquer natureza.</p>

                                <p>Também coletamos dados para possibilitar o acesso aos portais do cliente, como
                                    usuário e senha.</p>

                                <p>Precisamos coletar e fazer uso de informações de clientes, colaboradores e terceiros,
                                    para que possamos executar e gerenciar nossos contratos, tais como: nome completo;
                                    CPF; CTPS; telefone; e-mail; endereço, dentre outros.</p>

                                <p>Caso você ceda voluntariamente o seu nome e e-mail para envio de e-mail marketing,
                                    nós coletaremos esses dados apenas para enviar conteúdo sobre nossos produtos e
                                    serviços.</p>

                                <p>Para obter mais informações sobre os dados tratados, entre em contato pelo canal:
                                    privacidade@gmail.com.br.</p>

                                <p><strong>2. Para quais finalidades os dados são tratados?</strong><br>
                                    As informações pessoais tratadas pela WM respeitam as diretivas da LGPD e somente
                                    serão utilizadas para as seguintes finalidades:</p>

                                <p>Estabelecer critérios de identificação do usuário cadastrado e suas atividades nas
                                    plataformas e sites;<br>
                                    Executar as funcionalidades da plataforma, alcançando às expectativas do
                                    usuário;<br>
                                    Realizar prestação de serviços e/ou a entrega dos produtos WM;<br>
                                    Possibilitar admissão de colaboradores, cumprindo com obrigações legais e
                                    contratuais;<br>
                                    Efetuar o atendimento ao cliente, sanando dúvidas ou prestando esclarecimentos;<br>
                                    Promover produtos e serviços da WM, encaminhando conteúdo de interesse;</p>

                                <p><strong>3. Por quanto tempo os dados são armazenados?</strong><br>
                                    Os registros de acesso ao site serão armazenados por 6 (seis) meses de cada acesso,
                                    conforme exigência do Marco Civil da Internet. Após esse período, os dados serão
                                    completamente eliminados, salvo se forem necessários para eventual exercício de
                                    direito em processo judicial ou administrativo.</p>

                                <p>Os dados utilizados para fins de e-mail marketing serão utilizados até que você se
                                    oponha ao tratamento. É possível se descadastrar do conteúdo através de um link ao
                                    final de nossos e-mails ou formalizando seu direito de opor ao tratamento
                                    diretamente a nosso Chefe de Privacidade.</p>

                                <p>Encerrada a relação contratual, a WM garante que as informações de natureza pessoal
                                    serão eliminadas, exceto se forem necessárias para cumprimento de dever legal ou
                                    para eventual exercício de direito em processo judicial ou administrativo.</p>

                                <p><strong>4. Medidas de Segurança da Informação</strong><br>
                                    Para proteger suas informações pessoais, tomamos precauções adequadas e seguimos as
                                    melhores práticas de segurança para evitar violações dos dados, assegurando algumas
                                    medidas, como controles gerenciais e técnicos contra acesso indevido, roubo, perda e
                                    alteração não autorizada de dados.</p>

                                <p>Muito embora existam esforços para a adoção das melhores práticas, a WM não é capaz
                                    de evitar completamente a ocorrência de incidentes, especialmente ante a possível
                                    ação maliciosa de terceiros. A WM se exime de responsabilidade pelos danos
                                    decorrentes de tais incidentes, salvo seja comprovada conduta culposa ou deliberada
                                    da própria WM ou seus profissionais.</p>

                                <p>A WM não se responsabiliza pela negligência do usuário com suas próprias informações
                                    pessoais, sendo este completamente responsável pelos dados inseridos e pela
                                    segurança das informações de acesso nas plataformas e sites da WM.</p>

                                <p><strong>5. Os dados são compartilhados com terceiros?</strong><br>
                                    Somente compartilharemos os seus dados pessoais nas seguintes hipóteses:</p>

                                <p>a. sucessão empresarial, a exemplo de fusão, aquisição e incorporação, mantidas as
                                    finalidades e condições mínimas de segurança e legitimidade.</p>

                                <p>b. contratação de serviços de processamento de dados junto a terceiros (operadores),
                                    tais como hospedagem de dados, sistemas de processamento (serviços de computação em
                                    nuvem), consultoria em tecnologia da informação, serviços de publicidade e
                                    marketing, serviços de faturamento de créditos (financeiros) e serviços de
                                    assessoria jurídica.</p>

                                <p>Os terceiros acima listados somente atuarão conforme as orientações específicas da
                                    WM.</p>

                                <p>Somos obrigados por lei a compartilhar dados pessoais no caso de ordem de autoridade
                                    judicial, policial ou administrativa.</p>

                                <p><strong>6. Há transferência internacional de dados?</strong><br>
                                    Alguns dos processadores diretos e indiretos de dados, como serviços de hospedagem
                                    de dados, poderão estar fora do território brasileiro. Asseguramos o cumprimento das
                                    exigências legais decorrentes das normas de proteção de dados pessoais,
                                    principalmente no que se refere a exigência de terceiros em assumir o Compromisso
                                    com os Termos de Segurança da Informação e Proteção de Dados Pessoais.</p>

                                <p><strong>7. Cookies</strong><br>
                                    Cookies são arquivos instalados no seu navegador para aprimorar sua experiência e
                                    personalizar suas preferências ao visitar nossas plataformas e sites. Utilizamos os
                                    cookies do Google Analytics e do Facebook. Acesse o Aviso de Privacidade do Google e
                                    do Facebook para obter mais informações sobre o tratamento dos dados:</p>

                                <p>Google – https://policies.google.com/privacy?hl=pt#about</p>

                                <p>Facebook – https://www.facebook.com/policy.php</p>

                                <p>O uso dos cookies é previamente comunicado ao usuário quando de seu acesso às
                                    plataformas e sites da SELBETTI. As autorizações podem ser revisadas e modificadas
                                    pelo usuário, a qualquer momento, pelo seu próprio navegador, contudo, esclarecemos
                                    que o bloqueio dos cookies pode interferir no acesso a algumas funções das
                                    plataformas e sites.</p>

                                <p><strong>8. Redes Sociais</strong><br>
                                    Nós estamos em outros canais de comunicação: Facebook, Instagram, LinkedIn e
                                    Youtube. Dessa forma, a WM atua no papel de co-controladora conjuntamente com essas
                                    plataformas. Por isso, recomendamos que você leia o Aviso de Privacidade de cada um
                                    deles para entender melhor como seus dados são tratados:</p>

                                <p>Facebook – https://www.facebook.com/policy.php</p>

                                <p>Instagram – https://help.instagram.com/519522125107875</p>

                                <p>LinkedIn – https://www.linkedin.com/legal/privacy-policy?_l=pt_BR</p>

                                <p>Youtube – https://policies.google.com/privacy?hl=pt#about</p>

                                <p><strong>9. Direitos</strong><br>
                                    A LGPD elenca vários direitos do titular de dados, listamos alguns para
                                    conhecimento:</p>

                                <p>Direito à confirmação da existência do tratamento dos dados;<br>
                                    Direito ao acesso às informações sobre o tratamento;<br>
                                    Direito à correção de dados incompletos ou desatualizados;<br>
                                    Direitos à revogação do consentimento previamente autorizado para o tratamento dos
                                    dados;<br>
                                    Direito à exclusão dos dados; ressalvadas as informações necessárias para cumprir
                                    com obrigações legais ou exercer direitos em processo judicial e/ou
                                    administrativo.<br>
                                    A WM garante atender às solicitações dos titulares da melhor maneira possível. Se
                                    precisar de mais esclarecimentos, ou se quiser exercer quaisquer desses direitos,
                                    entre em contato pelo e-mail privacidade@gmail.com.br</p>

                                <p><strong>10. Contato, Dúvidas e Solicitações</strong><br>
                                    Caso você ainda tenha dúvidas ou necessite realizar alguma solicitação, entre em
                                    contato conosco, por meio do nosso Chefe de Privacidade, pelo canal:
                                    privacidade@gmail.com.br.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGE SIDEBAR-->
            </div>
        </div>
    </section>

{% endblock %}
